*{
    margin:0; 
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #500131;
}
header {
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    font-size: 20px;
    background-color: #CADBC0;
    text-align: center;
    align-items: center;
}
main {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: grid;
}

.navegationMenu{
    width: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.navegationMenu span {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
}
.redeSociais {
    z-index: 3;
    float: inline-start;
}
.navegationMenu span a {
    padding-right: 40px;
}

.navegationMenu a {
    display: inline-block;
    text-decoration: none;
    margin-left: 60px;
}

.navegationMenu span:hover {
    background-color: #B6CCA1;
}
#logo {
    width: auto;
}

#logo img {
    width: 60%;

}

main h1 {
    font-family: 'MedievalSharp', cursive;
    text-align: center;
    padding: 25px 25% 25px 25%;
}

.centralArticle {
  font-size: 0;
}
.rigthArticle {
    font-size: 25px;
    float: right;
    width: 45%;
    text-align: center;
    margin-right: 3.5%;
    
}
.leftArticle {
    font-size: 25px;
    float: left;
    width: 45%;
    text-align: center;
    margin-left: 3.5%;
}
main .centralArticle h2 {
    font-family: 'MedievalSharp', cursive;
}

.leftArticle img {
    margin-top: 25px;
}

.rigthArticle img {
    margin-top: 25px;
    height: 237px;
    width: 213px;
}

.comentarios{
    font-size: 15px;
}
.classes{
    width: 30vw;
    height: 30vh;
    text-align: center;
}
.cliqueAqui {
    text-decoration: none;
}
.classes img {
    width: 25vw;
    height: 150px;
}
.tiposDeDados{
    width: 30vw;
    height: 30vh;
    text-align: center;
}
.tiposDeDados img {
    width: 25vw;
    height: 150px;
}
.armasEArmaduras {
    width: 30vw;
    height: 30vh;
    text-align: center;
}
.armasEArmaduras img {
    width: 25vw;
    height: 150px;
}

.topicosDeAjuda{
    display: flex;
    justify-content: space-evenly
}
footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

}

.gifs{
align-items: center;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}

.classes-gif img {
    width: 100px;
    height: 100px;
}

